aside {
    height: 100%;
    background-color: var(--blue);
    position: relative;
    grid-column: 1 / 2;
}

aside header {
    color: var(--white);
}

aside > .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 5vh 0;
}

aside nav {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

aside nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside nav ul > li {
    padding: 1vh;
    text-align: center;
}

aside nav li > a, aside nav li > a:visited, aside nav li > a:focus {
    text-decoration: none;
    color: white;
    font-size: 120%;
    cursor: pointer;
}

aside nav li > a:hover {
    text-decoration: underline;
}