main {
    display: inline-flex;

    height: 100%;
    width: 85vw;

    background-color: var(--white);

    position: relative;
}

main > .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 5vh;
    width: 100%;
}

main header {
    width: 100%;
}

main h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 2vh;
}

main .table {
    height: 50%;
}