main {
    background-color: white;
    position: relative;
    grid-column: 2 / 7;
    padding: 2vh 2vw
}

main > .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 5vh;
}

main header {
    text-align: center;
}

main h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 2vh;
}

main .table {
    height: 50%;
}

.btn {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    transition: background-color .3s, color .3s
}

.btn-primary {
    background-color: var(--blue);
    border: 1px solid var(--white);
    color: white;
}

.btn-primary:hover {
    border-color: var(--blue);
    color: var(--blue);
    background-color: white;
}