main {
    min-width: calc(100%);
    background-color: white;
    position: relative;
    transition: all .4s;
    left: -400px
}

aside.sidebar--active ~ main {
    min-width: calc(100% - 400px);
    left: 0;
}

main > .container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.btn {
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-family: 'Segoe UI', Arial, sans-serif;
    transition: background-color .3s, color .3s
}

.btn-primary {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--blue);
    border: 1px solid white;
    color: white;
}

.btn-primary:hover {
    border-color: var(--blue);
    color: var(--blue);
    background-color: white;
}